#header{
	width: 1550px;
	height: 92px;
	background-color: #33333D;
	position: fixed;
}

#h-left{
	width: 200px;
	height: 60px;
	float: left;
}

#h-center{
	width: 950px;
	height: 60px;
	display: inline;
	float: left;
}

#h-right{
	width: 200px;
	height: 60px;
	float: left;
}

#logo{
	width: 80px;
	height: 40px;
	margin: 10 0 0 60;
}

#header-title{
	width: 940px;
	height: 20px;
	display: block;
	font-family: Arial;
	font-size: 30px;
	color: white;
	padding-left: 10px;
}

#menu{
	width: 950px;
	height: 30px;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	float: left;
}

.nav{
	margin: 0;
	padding: 0;
}

.nav > li{
	float: left;
	padding: 0;
}

.nav li a{
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 5 10;
	display: block;
	border-style: solid;
	border-color: transparent;
	font-family: Arial;
	font-size: 14px;
}

.nav li a:hover{
	color: turquoise;
	border-bottom-color: turquoise;

}