#content {
	width: 450px;
	height: 600px;
	padding: 100px 250px 0 250px;
}

#users-form{
	width:	350px;
	height: 400px;
	padding: 50px;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #A9A5A5;
}

#users-form span {
	width: 350px;
	height: 40px;
	text-align: center;
	font-family: Arial;
	font-size: 18;
	color: blue;
	display: block;
	vertical-align: middle;
}

#user-form label {
	display: block;
}

#input-username, #input-email, #input-password {
	width: 350px;
	display: inline-block;
}

.formulario {
	width: 70px;
	height: 30px;
	padding: 10px 0px 5px 0px;
	font-family: Arial;
	font-size: 16px;
	text-align: right;
	display: inline-block;
}

input[type=text], input[type=email], input[type=password] {
	width: 200px;
	height: 36px;
	margin: 0px 10px 10px 10px;
	border-radius: 5px;
	float: right;
}